<%- include("header") -%>
<h2>About This Website</h2>

<p>This is an awesome To do list website created by Reinita Thomas.</p>
<p>I have used HTML,CSS,Javascript,EJS,Node.js for designing and implementing this Website.</p>
<p>You can add your daily works in this todo list and checkout once the work has been completed.</p>
<p>In this way you don't miss out any of your important works😊</p>

<%- include("footer") -%>
